@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#more-container {
  margin-top: 25%;
  padding-left: 26px;
  padding-right: 25px;
  margin-bottom: 15%;
}

#icon-greeting-div {
  display: flex;
  align-items: center;
}

#icon {
  background-image: url("../../assets/desktop/icon-sun.svg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 23.56px;
  height: 23.56px;
}

#greeting {
  margin-left: 16.56px;
  color: #ffffff;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 25px;
}

#time-timeZone {
  display: flex;
  align-items: flex-end;
}

#time {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 100px;
  line-height: 100px;
  color: #ffffff;
}

#timeZone {
  font-family: "Inter";
  font-style: normal;
  font-weight: 300;
  font-size: 15px;
  line-height: 28px;
  color: #ffffff;
  
}

#location {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 28px;
  color: #ffffff;
  margin-bottom: 10%;
}

#more-button-div {
  background-color: #ffffff;
  width: 115px;
  height: 39px;
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

#more-button {
  border-radius: 28px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 14px;
  color: #000000;
  background-color: none;
  border: none;
  text-transform: uppercase;
  letter-spacing: 3.75px;
  opacity: 0.5;
  padding-left: 6%;
}

#arrow-down-div {
  width: 32px;
  height: 32px;
  margin-left: 4%;
  border-radius: 50%;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}

/*#arrow-down {
    transform: rotate(180deg);
  }*/
